<div class="container mt-4">
    <h2>Criar Bebida</h2>
    <form>
      <div class="form-group">
        <label for="nomeBebida">Nome da Bebida</label>
        <input type="text" class="form-control" id="nomeBebida" [(ngModel)]="bebida.nomeBebida" name="nomeBebida">
      </div>
      <div class="form-group">
        <label for="precoBebida">Preço da Bebida</label>
        <input type="number" class="form-control" id="precoBebida" [(ngModel)]="bebida.precoBebida" name="precoBebida">
      </div>
      <button class="btn btn-success" (click)="criarBebida()">Criar Bebida</button>
    </form>
  </div>
  